{% extends 'base.html' %}
{% load static %}

{% block title %} - Membuka Konsultasi {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" />
<div class="container-fluid">
<div class="card" id="1">
    <div class="card-body">
        <h1 class="card-header">Detail Konsultasi</h1>
        <table class="table table-borderless">
        <tr>
            <td class="theader">Hari Praktik:</td>
            <td>{{ hariPraktik }}</td>
        </tr>
        <tr>
            <td class="theader">Jam Mulai:</td>
            <td>{{ jamMulai }}</td>
        </tr>
        <tr>
            <td class="theader">Jam Selesai:</td>
            <td>{{ jamSelesai }}</td>
        </tr>
        <tr>
            <td class="theader">Lokasi Praktik:</td>
            <td>{{ lokasiPraktik }}</td>
        </tr>
        </table>
        <a class="btn btn-primary" style="color: white" href="{% url 'open_consul:open-consul' %}">Edit Konsultasi</a>
</div>
</div>

{% endblock %}
