{% extends 'base.html' %}
{% load static %}

{% block title %} - Membuka Konsultasi {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" />
<div class="container-fluid">
<div class="card" id="1">
    <div class="card-body">
        <h1 class="card-header">Detail Konsultasi</h1>
        <table class="table table-borderless">
        <tr>
            <td class="theader">Hari Praktik</td>
            <td>:</td>
            <td>Senin</td>
        </tr>
        <tr>
            <td class="theader">Jam Mulai</td>
            <td>:</td>
            <td>00.00</td>
        </tr>
        <tr>
            <td class="theader">Jam Selesai</td>
            <td>:</td>
            <td>12.00</td>
        </tr>
        <tr>
            <td class="theader">Lokasi Praktik</td>
            <td>:</td>
            <td>Indonesia</td>
        </tr>
        </table>
        <a class="btn btn-primary" onclick="edit()" style="color: white">Edit Konsultasi</a>
</div>
</div>

{% endblock %}
