{% extends 'base.html' %}
{% load static %}

{% block title %} - Membuka Konsultasi {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" />
<div class="container-fluid">
<div class="card" id="2">
    <h1 class="card-header">Membuka Konsultasi</h1>
    <div class="card-body">
        <table class="table table-borderless">
            <tbody>
                <form onsubmit="myFunction()" method="POST" action="{% url 'open_consul:detail-consul' %}">
                    {% csrf_token %}
                    {{ consul_form }}
                </form>
            </tbody>
        </table>
    </div>
</div>
</div>

<script>

    function myFunction() {
		var close = document.getElementsByClassName("closebtn");
		var r = confirm("Apakah Anda yakin untuk menyimpan konsultasi?");
        if(r == true){

        }
	}

</script>

{% endblock %}
