{% extends 'base.html' %}
{% load static %}

{% block title %} - Daftar Pasien {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}" />  
<div class="container-fluid">
          <div class="row">
              <div class="col-8">
                  {% for consultation in consultations %}
                  <div class="card">
                      {% if consultation.status %}
                      <h5 class="card-header">Mendatang</h5>
                      {% else %}
                      <h5 class="card-header">Selesai</h5>
                      {% endif %}
                      <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'patient_detail' pk=consultation.pk %}">{{ consultation.patient.name }}</a></h5>
                        <p class="card-text">Konsultasi pada hari {{ consultation.consultation.hariPraktik }} dan pukul {{ consultation.consultation.jamMulai }} wib.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      </div>
                    </div>
                  {% endfor %}
              </div>
              <div class="col-4">
                  <div class="nav-right">
                    <form class="form-inline search" method="GET" >
                        <input class="form-control search-form" type="text" placeholder="Search" name="search">
                        <button type="submit" class="btn btn-primary search-btn">Search</button>
                    </form>
                    <label class="my-1 mr-2" for="sortBy">Urutkan menurut:</label>
                    <form class="selector-sort form-inline" method="POST" action="{% url 'order_by' %}">
                      {% csrf_token %}
                        <select class="custom-select" id="sortBy" name="sort">
                            <option value="1">Status Pasien</option>
                            <option value="2">Nama Pasien</option>
                            <option value="3">Jadwal Konsultasi</option>
                        </select>
                        <button type="submit" class="btn btn-primary select-btn">Submit</button>
                    </form>
                  </div>
              </div>
          </div>
      </div>
    {% endblock %}