{% extends 'base.html' %}
{% load static %}

{% block title %} - Daftar Pasien {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}" />  
<div class="container-fluid">
          <div class="row">
              <div class="col-8">
                <div class="card">
                    <!-- <h5 class="card-header">Featured</h5> -->
                    <div class="card-body">
                      <h5 class="card-title"><a href="{% url 'patient_detail' %}">Nama Pasien</a></h5>
                      <p class="card-text">Konsultasi pada hari sekian, tanggal sekian, pukul sekian wib.</p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                  </div>
                  <div class="card">
                    <!-- <h5 class="card-header">Featured</h5> -->
                    <div class="card-body">
                      <h5 class="card-title"><a href="{% url 'patient_detail' %}">Nama Pasien</a></h5>
                      <p class="card-text">Konsultasi pada hari sekian, tanggal sekian, pukul sekian wib.</p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                  </div>
                  <div class="card">
                    <!-- <h5 class="card-header">Featured</h5> -->
                    <div class="card-body">
                      <h5 class="card-title"><a href="{% url 'patient_detail' %}">Nama Pasien</a></h5>
                      <p class="card-text">Konsultasi pada hari sekian, tanggal sekian, pukul sekian wib.</p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                  </div>
                  <div class="card">
                    <!-- <h5 class="card-header">Featured</h5> -->
                    <div class="card-body">
                      <h5 class="card-title"><a href="{% url 'patient_detail' %}">Nama Pasien</a></h5>
                      <p class="card-text">Konsultasi pada hari sekian, tanggal sekian, pukul sekian wib.</p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                  </div>
                  <div class="card">
                    <!-- <h5 class="card-header">Featured</h5> -->
                    <div class="card-body">
                      <h5 class="card-title"><a href="{% url 'patient_detail' %}">Nama Pasien</a></h5>
                      <p class="card-text">Konsultasi pada hari sekian, tanggal sekian, pukul sekian wib.</p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                  </div>
                  <div class="card">
                      <!-- <h5 class="card-header">Featured</h5> -->
                      <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'patient_detail' %}">Nama Pasien</a></h5>
                        <p class="card-text">Konsultasi pada hari sekian, tanggal sekian, pukul sekian wib.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      </div>
                    </div>
              </div>
              <div class="col-4">
                  <div class="nav-right">
                    <form class="form-inline search">
                        <input class="form-control search-form" type="text" placeholder="Search">
                        <button type="submit" class="btn btn-primary search-btn">Search</button>
                    </form>
                    <label class="my-1 mr-2" for="sortBy">Urutkan menurut:</label>
                    <form class="selector-sort form-inline">
                        <select class="custom-select" id="sortBy">
                            <option value="1">Status Pasien</option>
                            <option value="2">Nama Pasien</option>
                            <option value="3">Jadwal Konsultasi</option>
                        </select>
                        <button type="submit" class="btn btn-primary select-btn">Submit</button>
                    </form>
                  </div>
              </div>
          </div>
      </div>
    {% endblock %}