body {
    background-color: #efefef !important;
    padding-bottom: 50px;
}

.navbar-color {
    background-color: #ca009d;
    color: #efefef;
    margin-bottom: 20px;
}

.footer {
    height: 30px;
    background-color: #ca009d;
    color: #efefef;
    text-align: center;
}

